
header 
{
    background-color: aliceblue;
    color: black;
    margin:auto;
    text-align: center;
    height: 80px;
    padding-top: 10px;
}
.cuadro{
    
    display: grid;
    place-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.primero{

    border-radius: 20px;
    grid-column: 1;
    border: rgb(144, 144, 245) solid 2px ;
    border-width: 3px 2px 3px;
    background-color: rgba(211, 211, 249, 0.588); ;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(214, 214, 214);
}

.primero img{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 180px;
    border-radius: 100px;

}

.primero h3, p, a {
    margin-left: 0.6rem;
}

.primero h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(144, 144, 245);
}
.primero .nombre{
    background-color: rgba(194, 194, 249, 0.588);
}

.primero .Direccion{
    background-color: rgba(194, 194, 249, 0.588);
}

.primero .email{
    background-color: rgba(160, 160, 251, 0.588);   
}

.primero .link{
    background-color: rgba(160, 160, 251, 0.588);   
}

.segundo{
    border-radius: 20px;
    grid-row: 1;
    grid-column: 3/4;
    border: rgb(254, 66, 66) solid 2px ;
    border-width: 3px 2px 3px;
    background-color: rgba(255, 124, 124, 0.588); ;
    
}
.segundo img{
    height: 200px;
    width: 200px;
    margin-left: 1rem;
    border-radius: 100px;

}

.segundo h3, p, a, h4,li {
    margin-left: 0.6rem;
}

.segundo h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(245, 144, 144);
}

.segundo .email h3{
    height: 43px !important;
    width: 180px;
}
.segundo .nombre{
    background-color: rgba(249, 194, 194, 0.588);
}

.segundo .Direccion{
    background-color: rgba(249, 194, 194, 0.588);
}

.segundo .email{
    background-color: rgba(245, 170, 170, 0.588);   
}


.tercero
{   
 
    border-radius: 20px;

    background-color: rgb(247, 239, 152);
    border: rgb(255, 225, 0) solid 2px;
    border-width: 3px 2px 3px;
}
.tercero img{
    height: 200px;
    width: 200px;
    margin-left: 1rem;
    border-radius: 100px;

}

.tercero h3, p, a {
    margin-left: 0.6rem;
}

.tercero h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(245, 232, 95);
}
.tercero .nombre{
    background-color: rgba(249, 248, 194, 0.588);
}



.tercero .email{
    background-color: rgba(245, 251, 160, 0.588);   
}

footer {
    background-color: #ffffff;
    padding: 20px;
  }

footer img{
    display: block;
    margin: 0 auto;
}

footer img:hover
{
    color: black;
}

@media screen and (max-width: 700px) {
    
header 
{
    background-color: aliceblue;
    color: black;
    margin:auto;
    text-align: center;
    height: 80px;
    padding-top: 10px;
}
.cuadro{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left !important;
    border-radius: 20px;
    grid-column: 1;
    border: rgb(144, 144, 245) solid 2px ;
    border-width: 3px 2px 3px;
    background-color: rgba(211, 211, 249, 0.588); ;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(214, 214, 214);
}

.primero img{

    height: 200px;
    width: 200px;
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 40px;
    border-radius: 100px;

}

.primero h3, p, a {
    margin-left: 0.6rem;
}

.primero h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(144, 144, 245);
}
.primero .nombre{
    background-color: rgba(194, 194, 249, 0.588);
}

.primero .Direccion{
    background-color: rgba(194, 194, 249, 0.588);
}

.primero .email{
    background-color: rgba(160, 160, 251, 0.588);   
}

.primero .link{
    background-color: rgba(160, 160, 251, 0.588);   
}

.segundo{
    border-radius: 20px;
    grid-row: 1;
    grid-column: 3/4;
    border: rgb(254, 66, 66) solid 2px ;
    border-width: 3px 2px 3px;
    background-color: rgba(255, 124, 124, 0.588); ;
    
}
.segundo img{
    height: 200px;
    width: 200px;
    margin-left: 1rem;
    border-radius: 100px;

}

.segundo h3, p, a, h4,li {
    margin-left: 0.6rem;
}

.segundo h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(245, 144, 144);
}

.segundo .email h3{
    height: 43px !important;
    width: 180px;
}
.segundo .nombre{
    background-color: rgba(249, 194, 194, 0.588);
}

.segundo .Direccion{
    background-color: rgba(249, 194, 194, 0.588);
}

.segundo .email{
    background-color: rgba(245, 170, 170, 0.588);   
}


.tercero
{   
 
    border-radius: 20px;

    background-color: rgb(247, 239, 152);
    border: rgb(255, 225, 0) solid 2px;
    border-width: 3px 2px 3px;
}
.tercero img{
    height: 200px;
    width: 200px;
    margin-left: 1rem;
    border-radius: 100px;

}

.tercero h3, p, a {
    margin-left: 0.6rem;
}

.tercero h3{
    height: 20px;
    width: 180px;
    color: white;
    background-color: rgb(245, 232, 95);
}
.tercero .nombre{
    background-color: rgba(249, 248, 194, 0.588);
}



.tercero .email{
    background-color: rgba(245, 251, 160, 0.588);   
}

footer {
    background-color: #ffffff;
    padding: 20px;
  }

footer img{
    display: block;
    margin: 0 auto;
}

footer img:hover
{
    color: black;
}

}